/.env
/vendor
/node_modules
/public/build
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*
/storage/debugbar/*
/.phpunit.result.cache
/tests/Feature/ExampleTest.php
/tests/Unit/ExampleTest.php
.phpunit.cache
node_modules
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
